body {
    background-color: White;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

section {
    display: block;
}

/*Section 1*/

.section-1-img {
    background-image: url(https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/2022-04/KFCKentuckyFriedBuckquet.jpg?itok=F9Ysuj4-);
    min-height: 100%;
}

.section-1-img {
    background-attachment: scroll;
}

.section-1-img {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-1-text .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.section-1-text {
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/*Section 1 and 3 Text Box*/

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

/* Section 3 */
.section-dark {
    background-color: #282e34;
    color: #ddd;
}